@{
    ViewData["Title"] = "About Us";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="card-title text-center">Shared Book</h1>
    </div>
    <div class="col-lg-12">
        <div>
            <div class="row">
                <div class="col-md-8">
                    <h4>
                        <br>
                        <span style="font-size: 1.5rem;">Your Shared Books for everyone &nbsp;</span>
                        <span style="font-size: 1.5rem;"> &nbsp; &nbsp; &nbsp;</span>
                        <br>
                    </h4>
                    <h4>
                        <br>
                        <b style="color: rgb(0, 0, 0); font-size: 1rem;">CARPE LIBRUM! &nbsp;SEIZE THE BOOK!</b>
                        <br>
                    </h4>
                    <p style="margin: 0cm 0cm .0001pt; font-size: 11pt; font-family: Arial;">
                        <br>
                        <span lang="en-us" xml:lang="en-us">
                            Shared Book is an online library aimed at providing titles ranging from all possible genres, trending and old books, to its members for free.&nbsp;&nbsp;Once you’re a member of Shared Book, you can share your own books with the other members. Each member can borrow from the online library.&nbsp;&nbsp;The delivery of the book is arranged between the members. A member can keep the books for up to a month and then return it.&nbsp;&nbsp;The members have access to a wide range of literature without having to purchase books.&nbsp;&nbsp;&nbsp;
                        </span>
                        <br>
                        <br>
                    </p>
                    <p></p>
                    <p style="margin: 0cm 0cm .0001pt; font-size: 11pt; font-family: Arial;">
                        <span lang="en-us" xml:lang="en-us">&nbsp;</span>
                    </p>
                    <p>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">“</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">The more that you</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">&nbsp;read,&nbsp;</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">the more</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">&nbsp;things&nbsp;</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">you</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">&nbsp;will know.&nbsp;</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">The more that you</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">&nbsp;learn,&nbsp;</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">the more places you</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">'</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">ll go</span>
                        <span style="font-family: Arial; font-size: 11pt; color: rgb(34, 34, 34);">.” ― Dr. Seuss</span>
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="https://media.istockphoto.com/photos/stack-of-books-with-a-ribbon-wrapped-around-it-like-a-gift-picture-id131992290?k=6&m=131992290&s=612x612&w=0&h=YezBS5WvL1R0aWiXnky90wyHXiES_wkSjL_h_-KazQU=" alt="About Us" class="responsive">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>