@model SharedBook.Areas.Admin.Models.HomeViewModel

<h1 class=""> Dashboard </h1>

<div class="jumbotron col-md-5">
    <div class="row" style="display: block" id="statistics">
        <h4 class="col-md-4" id="total-users"></h4>
        <h4 class="col-md-4" id="total-books"></h4>
        <h4 class="col-md-4" id="total-shares"></h4>
    </div>
</div>

@section Scripts{
    <script>
        $.get('/api/statistics', (data) => {
            $('#total-books').text(data.totalBooks + " Books");
            $('#total-users').text(data.totalUsers + " Members");
            $('#total-shares').text(data.totalShares + " Shares");
        });
    </script>
}